#DalianJunda{
	overflow: hidden;
	position: relative;
}

#DalianJunda img{
	position:absolute;
	z-index:-2;
	width: auto;
	height:100vh;
	right:0px;
}

#dljdText{
	position: absolute;
	top: 3%;
}

#dljdText li{
	list-style: none;
	padding:10px 0px 10px 0px;
	z-index: 1;
	position:relative;
	left:5%;
	overflow: hidden;
}
#dljdText li span{
	color:white;
}

#dljdLOGO{
	position:relative;
	display:block;
	top:0;
}

#dljdLOGO img{

	position:absolute;
	left:0;
	width:100%;
}


#playPics img{

	position:absolute;
	right:0;
	bottom:0;
	width: auto;
	height: auto;
	min-width: 100%;
	
}

#Trace{
	width:45vh; 
	overflow: hidden;
	min-height:5%;
	position:absolute;
	bottom:0;
	z-index:2;
	left: -1%;
}
 #Trace nav ul li{
 	color:green;
 	background: green;
 	margin:10px;
 	z-index: 3;
 }
/* The Forth Layer of Home: Hire */

#HomeForthHire{
	background:green;opacity: 0.95;
	width:100%; 
	min-height:40vh;
	height:auto;
	padding-bottom: 5%;
}

#HomeForthHire li{

	list-style: none;
	color:white;

}