@charset "UTF-8";

body{
	position:absolute;
	min-height:100vh;
	height:auto;
	width: 100vh;
	overflow: auto;
	background: #f6fecc;
}
/*
header {
	width:100%;
	height:auto;
	position:absolute;
	top:0px;
	background:white;
	z-index: 1000;
	
}

nav ul{
	list-style:none;
}
*/
#BG{

	width:100%;
	height: 100%;
	z-index:-1000;
	position:fixed;
	background-position:top;
	background-repeat:no-repeat;
	background-size:100% auto;
}

#BG2{

	width:100%;
	height: 100%;
	z-index:-999;
	position:fixed;
	/*background-color:rgba(246, 254, 204, 0.9);*/
	background-color:rgba(255, 255, 255, 0.9);
}

#HeaderPic{

	width:auto;
	max-width:50%;
	height:64px;
	/*height:128px*/
	padding:0px;
	margin-left:10%;
	position:relative;
	float:left;

	
}

.sidebar nav ul li {
	display: inline;
	
}

.sidebar nav ul li a{

	font-size:24px;
	text-decoration:none;
}

#siderBar2{

	padding:5px 10% 0px 0px;
	margin:0px;
	position:relative;
	float:right;
	top:0px;
}

#siderBar2 ul{
	padding: 10px 0px 10px 0px;
	margin: 0px;
}

#siderBar2 nav ul li a{

	color:#000;
	padding: 0px 10px 0px 10px;
}

#siderBar2 nav ul li a img{
	width:auto;
	height:24px;
	padding:0px;
	margin:0px 5px 0px 0px;
	position:relative;
	top:4px;
}
/*
#sidebar1{
	margin:0px 0px 0px 0px;
	padding:0px;
	background:#0c4109;
	position:absolute;
	width:100%;
}

#sidebar1 ul{
	padding: 9px 0px 9px 0px;
	margin: 0;
}

#sidebar1 nav ul li a{

	color:#FFF;
	padding: 0px 40px 0px 40px;
}
*/
.sidebarAbout{
	z-index: 30;
	height:auto;
	position:relative;

}

.sidebarAbout h1{
	width: 200px;
	color:green;
    border-bottom: 3px solid green;
}

.sidebarAbout nav{
	margin:0px;
	
}

.sidebarAbout nav ul{
	margin:0px;
	padding:0px;
}

.sidebarAbout nav ul li{
	width: 100%;
	margin: 0px;
	text-align: center;
	padding:5px 0px 5px 0px;

}

.sidebarAbout nav ul li a{
	text-decoration:none;
}

.sidebarAbout nav ul li a span{
	color: gray;
	font-size:15px;

	padding:5px;
}

.RightDiv{

	position:relative;
	float:right;
	min-height:300px;
	height:auto;
	width:auto;

}

.LeftDiv{
	background: white;
	border-right-style: solid;
	border-right-color:gray;
	float:left;
	width:260px;
}
.placeholder{

	height:100%;
	position:absolute;
	z-index: 29;
}

#placeholderTop{
	width:100%;
	position:absolute;
	top:0;
	z-index: -1;
	background: white;
}
/*
.container{

	width:100%;
	height:auto;
	
}
*/
.PathBar{
	width:100%;
	background-color:rgba(255, 255, 255, 1);
	min-height:50px;
	height:auto;
	margin:0;

	border-bottom-color: gray;
	border-bottom-style:solid;
	/*
	border-top-color: gray;
	border-top-style:solid;
	*/	
}

.PathBar nav{
	padding-top:12px;
	margin:0px;
}

.PathBar nav ul{
	margin:0px;
}

.PathBar nav ul li{
	margin:0px;
}

.PathBar nav ul li a{
	font-weight:bold;
	font-size:18px;
	margin:0px;
}



.TopTinyPic{
	width:100%;
	height:20vh;
	position:relative;
	background:yellow;
	overflow: hidden;

	z-index: 31;

	/*
	border-bottom-style:solid;
	border-bottom-color:gray;
	*/
}

.TopTinyPic img{
	position: absolute;
	bottom:0;
	left:0;
	width: auto;
	height:auto;

}

.NotHome{
	margin:50px 50px 0px 50px; 
	height:auto;
}

.Comment{
	margin:150px 10% 100px 10%; 
	height:auto;

}

.Comment form input{
	padding:10px;

	width:30%;

}

.Comment form li{
	
	margin:10px 0px 10px 0px;
	list-style:none;

}

/*

#AboutContent:after {
    content: "";
    width: 100%;
    height: 80px;

    margin-bottom: -10px;

    display: block;
    position: absolute;

    background: -moz-linear-gradient(top,  rgba(7, 41, 5,0) 0%, rgba(7, 41, 5,1) 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7, 41, 5,0)), color-stop(70%,rgba(7, 41, 5,1)));
    background: -webkit-linear-gradient(top,  rgba(7, 41, 5,0) 0%,rgba(7, 41, 5,1) 70%);
    background: -o-linear-gradient(top,  rgba(7, 41, 5,0) 0%,rgba(7, 41, 5,1) 70%);
    background: -ms-linear-gradient(top,  rgba(7, 41, 5,0) 0%,rgba(7, 41, 5,1) 70%);
    background: linear-gradient(to bottom,  rgba(7, 41, 5, 0) 0%,rgba(7, 41, 5,1) 70%);

    bottom: 0;
    left: 0;
    z-index: 1;

}

footer {
		padding:5px 0px 5px 0px;
		background:#072905;
		color:#FFF;
		text-align:center;
		clear: both; 
		position:absolute;
		bottom:0;
		width:100%;
		height:150px;
		z-index: 999;
}

header, section, footer, aside, figure {
	display: block;
}

.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}

*/
