		
		
		
		<div class="ContactIcons" align=center style="width:80vh; height:70vh; margin-left:-5vh;">
			<nav> <!-- Vertical -->
				<ul>
					<li><a><img style="width:25vh; height:25vh;" src="/static/media/{{ QR.QR_Code }}"></a></li>	
					<li><a><span style="font-size:60px">{{ QR.first_text }}</span></a></li>	
					<li><a><span style="font-size:40px">{{ QR.second_text }}</span></a></li>
					
					{% for x in Vertical %}
						<li><a><span>{{ x.span }}</span></a></li>	
					{% endfor %}				
				</ul>
			</nav>
			
			<nav class="Horizontalnav"> <!-- Horizontal -->
				<ul>
					{% for x in Horizontal %}
						<li><a href="{{ x.href }}" alt="{{ x.alt }}"><img src="/static/media/{{ x.icon }}"></a></li>
					{% endfor %}						
				</ul>
			</nav>
		</div>
		

		<div class="RightDiv" style="width:100vh; height:70vh; margin-right:5vh">
			<div style="margin:0px 12% 50px 12%;" align="center">
			</div>
		</div>