<div  id="HomeForthHire" align="center">
						<li style="width:60vh; font-size:48px; padding-top:5%; "><span>{{ forthText.first_text }}</span></li>
						<li style="width:45vh; font-size:32px; margin-top:10px;"><span>{{ forthText.second_text }}</span></li>
						
						<a href="#" style="text-decoration:none;">
							<li style="width:45vh; font-size:24px; margin-top:10px; border-style:solid;border-color:white;padding:10px;">
								<span>{{ forthText.third_text }}</span>
							</li>
						</a>						
							
</div>