{% block header %}
	    <style type="text/css">
			body {
					font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
					width: 100%; 
					margin: 0;
					padding: 0;
					color: #000;
					display:block;
					background-position:top;
					background-image:url(/static/media/{{ bgp }});
					background-repeat:no-repeat;
					background-size:cover;
				}
		</style>
	    <header>
	    	
	    	<div id="sidebar1" align="center">
	
			  		<nav>
				    		<ul>
					      		<li><a href="#Home" alt="home.html">Home</a></li>
					      		<li><a href="#About" alt="About.html">About</a></li>
					      		<!-- li><a href="#Projects" alt="Projects.html">Projects</a></li-->
					      		<li><a href="#PhotoAlbums" alt="PhotoAlbums.html">Photo Albums</a></li>
					      		<!-- li><a href="#Comment" alt="Comment.html">Leave Comments</a></li-->
				    		</ul>
			    	</nav>
			 </div>
		</header>
{% endblock %}