{% block head %}

	<head>
		{% load staticfiles %}
   		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'HomePage/css/mystyle.css' %}">		
		<script src="{% static 'HomePage/js/Plugin/jQuery.js' %}"></script> 		
		<script src="{% static 'HomePage/js/Plugin/headroom.js' %}"></script> 
		<script src="{% static 'HomePage/js/Plugin/jQuery.headroom.js' %}"></script> 
		<script type="text/javascript" src="{% static 'HomePage/js/keyableSideBar.js' %}"></script> 
		<title></title>
  	</head>
  	
{% endblock %}