{% extends "HomePage/sites/head.html" %}


{% load staticfiles %} <!-- remember to remove it if using model objects instead -->
						
{% block head %}
						
	{{ block.super }}
													
	<script type="text/javascript" src="{% static 'HomePage/js/adjust.js' %}"></script> 		
	<link rel="stylesheet" type="text/css" href="{% static 'HomePage/css/homeFirstHome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'HomePage/css/homeSecondAbout.css' %}">	
	<link rel="stylesheet" type="text/css" href="{% static 'HomePage/css/homeThirdForm.css' %}">	
	<link rel="stylesheet" type="text/css" href="{% static 'HomePage/css/myAboutstyle.css' %}">	
	<!-- script type="text/javascript" src="{% static 'HomePage/js/home.js' %}"></script--> 
  
{% endblock %}