<div class="placeholder LeftDiv"></div>	
<div class="container">

		<div class="TopTinyPic" align="center">					
				<img src="/static/Page/img/marvel.jpeg">					
		</div>

		{% include "others/PathBar.html" %}	

		<div class="sidebarAbout LeftDiv OnlyHash ForPath2" align=center>
			<h1>公司简介</h1>
			<nav>
				<ul>
					<li><a href=#><span>Test</span></a></li>
				</ul>
			</nav>
		</div>

		<div class="RightDiv">
			<div style="margin:0px 12% 50px 12%;" align="center">
				<h1 style="color:green;border-bottom: 3px solid green;">Nihaoma</h1>
				<div id="AboutContent" style="background:#e1e1e1" align="left"></div>
			</div>
		</div>
</div>
		
<script type="text/javascript" src="/static/Page/js/adjust.js"></script>
<script type="text/javascript" src="/static/Page/js/PathBar.js"></script> 
<script type="text/javascript" src="/static/Page/js/Comment/about.js"></script> 