		
				<!-- First Section -->
				<div id="sec1" style="background:black;" class="article" align="center">
					<div class="ctn">
						<img style="width:60%; height:auto;" src="/static/media/{{ HomeLogo }}">
					</div>
				</div>
				
				<div id="sec2" style="background:white;" class="article" align="center">
					<div class="ctn">
						<table style="background:yellow; width:70%;height:auto; position:relative;margin: 0 auto;">
							<tr>
								<td>
									<div class="ContactIcons" align=center style="background:orange; position:relative;">
										<nav> <!-- Vertical -->
											<ul>
												<li><a><img style="width:25vh; height:25vh;" src="/static/media/{{ HomeLogo }}""></a></li>	
												<li><a><span style="font-size:60px">first_text</span></a></li>	
												<li><a><span style="font-size:40px">second_textsecond_textsecond_text</span></a></li>
												<li><a><span>Contact me</span></a></li>		
												<nav class="Horizontalnav"> <!-- Horizontal -->
													<ul>
														<li><a href="#" alt="#"><img src="/static/media/{{ HomeLogo }}"></a></li>															
													</ul>
												</nav>
										
												<li><a><span>&uarr; Find out how</span></a></li>	
												<li><a><span>Contact me</span></a></li>																
											</ul>
										</nav>
									
									</div>
								</td>
								<td>
									<div class="RightDivTable" style=" background:black;" align="center">
										<img style="width:100vh; height:70vh;" src="/static/media/{{ HomeLogo }}"">
									</div>
								</td>
							</tr>
						</table>	
					</div>				
				</div>
				
				<div id="sec3" style="background:red;" class="article" align="center">
					<div class="ctn">
					<!-- Playerlist id 
	
					 
						<iframe width="560" height="315" src="https://www.youtube.com/embed/F3U9WogSVsQ?ecver=1" frameborder="0" allowfullscreen></iframe>
						Video id -->
						<table style="background:yellow; width:80%;height:70%; position:relative;margin: 0 auto;">
							<tr>
								<td>
									<div style="width:100%; height:100%;" id="youtubeVideoPool">
										<iframe width="100%" height="100%" src="https://www.youtube.com/embed/bhzasigpf3Q?list=PL4m8kzZrBUKpWRXE6kCWPhq904-q-R96O?ecver=1" frameborder="0" allowfullscreen></iframe>
									</div>
								</td>
								<td style="width:25%; height:100%;text-align: left;">
									<div id="youtubePlayList" style="width:100%; height:100%;">
										
										<div>	
											<nav>					    
												<ul><!--  {% for x in pics %}
								        				<li><a alt="{{ x.Album_Url }}">
			
								        				<img style="width:88%; height:auto; " src="/static/media/{{ x.Photo_Album_Cover }}">
								        				<p style="color:white;font-size:24px;text-decoration:none;">{{ x.name }}</p>
								        				
								        				</a></li>
								   					{% endfor %}-->
								   					<li class="yaHome">	
									   					<a>							   						
									   						<nav>
									   							<ul>													   							
												   					<li>
													   					<div class="tablewrapper">
													   						<table style="direction:ltr; float:left;">
																				<tr>
																					<td>
																						<img style="width:auto; height:50px;" src="/static/media/{{ HomeLogo }}">
																					</td>
																							
																					<td>
																						<nav style="position:relative; padding-left:10px; margin-right:10px;">
																							<ul>																								
																								<li style="padding:0; margin:0;"><span style="font-weight:bold; font-size:18px;line-height:0;">a b c d e f g sdls s s s s s s ss s s s</span></li>																						
																							</ul>
																						</nav>
																					</td>
																						
																				</tr>
																			</table>
																																	
																		</div>										   					
													   					
												   					</li>		
													   					
												   					<li style="margin-top:10px;"><span>Andrew Willis built a skatepark in East London using reclaimed materials left over from the Olympic Games, creating a lasting legacy for the local community of Hackney Wick.</span></li>  			
													   				
								   								</ul>
									   						</nav>
								   						</a>									   					
								   					</li>
								   					<li class="yaHome">	
									   					<a>							   						
									   						<nav>
									   							<ul>													   							
												   					<li>
													   					<div class="tablewrapper">
													   						<table style="direction:ltr; float:left;">
																				<tr>
																					<td>
																						<img style="width:auto; height:50px;" src="/static/media/{{ HomeLogo }}">
																					</td>
																							
																					<td>
																						<nav style="position:relative; padding-left:10px; margin-right:10px;">
																							<ul>																								
																								<li style="padding:0; margin:0;"><span style="font-weight:bold; font-size:18px;line-height:0;">a b c d e f g sdls s s s s s s ss s s s</span></li>																						
																							</ul>
																						</nav>
																					</td>
																						
																				</tr>
																			</table>
																																	
																		</div>										   					
													   					
												   					</li>		
													   					
												   					<li style="margin-top:10px;"><span>Andrew Willis built a skatepark in East London using reclaimed materials left over from the Olympic Games, creating a lasting legacy for the local community of Hackney Wick.</span></li>  			
													   				
								   								</ul>
									   						</nav>
								   						</a>									   					
								   					</li>
								   					<li class="yaHome">	
									   					<a>							   						
									   						<nav>
									   							<ul>													   							
												   					<li>
													   					<div class="tablewrapper">
													   						<table style="direction:ltr; float:left;">
																				<tr>
																					<td>
																						<img style="width:auto; height:50px;" src="/static/media/{{ HomeLogo }}">
																					</td>
																							
																					<td>
																						<nav style="position:relative; padding-left:10px; margin-right:10px;">
																							<ul>																								
																								<li style="padding:0; margin:0;"><span style="font-weight:bold; font-size:18px;line-height:0;">a b c d e f g sdls s s s s s s ss s s s</span></li>																						
																							</ul>
																						</nav>
																					</td>
																						
																				</tr>
																			</table>
																																	
																		</div>										   					
													   					
												   					</li>		
													   					
												   					<li style="margin-top:10px;"><span>Andrew Willis built a skatepark in East London using reclaimed materials left over from the Olympic Games, creating a lasting legacy for the local community of Hackney Wick.</span></li>  			
													   				
								   								</ul>
									   						</nav>
								   						</a>									   					
								   					</li>
								   					<li class="yaHome">	
									   					<a>							   						
									   						<nav>
									   							<ul>													   							
												   					<li>
													   					<div class="tablewrapper">
													   						<table style="direction:ltr; float:left;">
																				<tr>
																					<td>
																						<img style="width:auto; height:50px;" src="/static/media/{{ HomeLogo }}">
																					</td>
																							
																					<td>
																						<nav style="position:relative; padding-left:10px; margin-right:10px;">
																							<ul>																								
																								<li style="padding:0; margin:0;"><span style="font-weight:bold; font-size:18px;line-height:0;">a b c d e f g sdls s s s s s s ss s s s</span></li>																						
																							</ul>
																						</nav>
																					</td>
																						
																				</tr>
																			</table>
																																	
																		</div>										   					
													   					
												   					</li>		
													   					
												   					<li style="margin-top:10px;"><span>Andrew Willis built a skatepark in East London using reclaimed materials left over from the Olympic Games, creating a lasting legacy for the local community of Hackney Wick.</span></li>  			
													   				
								   								</ul>
									   						</nav>
								   						</a>									   					
								   					</li>
								   					<li class="yaHome">	
									   					<a>							   						
									   						<nav>
									   							<ul>													   							
												   					<li>
													   					<div class="tablewrapper">
													   						<table style="direction:ltr; float:left;">
																				<tr>
																					<td>
																						<img style="width:auto; height:50px;" src="/static/media/{{ HomeLogo }}">
																					</td>
																							
																					<td>
																						<nav style="position:relative; padding-left:10px; margin-right:10px;">
																							<ul>																								
																								<li style="padding:0; margin:0;"><span style="font-weight:bold; font-size:18px;line-height:0;">a b c d e f g sdls s s s s s s ss s s s</span></li>																						
																							</ul>
																						</nav>
																					</td>
																						
																				</tr>
																			</table>
																																	
																		</div>										   					
													   					
												   					</li>		
													   					
												   					<li style="margin-top:10px;"><span>Andrew Willis built a skatepark in East London using reclaimed materials left over from the Olympic Games, creating a lasting legacy for the local community of Hackney Wick.</span></li>  			
													   				
								   								</ul>
									   						</nav>
								   						</a>									   					
								   					</li>
								   					<li class="yaHome">	
									   					<a>							   						
									   						<nav>
									   							<ul>													   							
												   					<li>
													   					<div class="tablewrapper">
													   						<table style="direction:ltr; float:left;">
																				<tr>
																					<td>
																						<img style="width:auto; height:50px;" src="/static/media/{{ HomeLogo }}">
																					</td>
																							
																					<td>
																						<nav style="position:relative; padding-left:10px; margin-right:10px;">
																							<ul>																								
																								<li style="padding:0; margin:0;"><span style="font-weight:bold; font-size:18px;line-height:0;">a b c d e f g sdls s s s s s s ss s s s</span></li>																						
																							</ul>
																						</nav>
																					</td>
																						
																				</tr>
																			</table>
																																	
																		</div>										   					
													   					
												   					</li>		
													   					
												   					<li style="margin-top:10px;"><span>Andrew Willis built a skatepark in East London using reclaimed materials left over from the Olympic Games, creating a lasting legacy for the local community of Hackney Wick.</span></li>  			
													   				
								   								</ul>
									   						</nav>
								   						</a>									   					
								   					</li>
								   					<li class="yaHome">	
									   					<a>							   						
									   						<nav>
									   							<ul>													   							
												   					<li>
													   					<div class="tablewrapper">
													   						<table style="direction:ltr; float:left;">
																				<tr>
																					<td>
																						<img style="width:auto; height:50px;" src="/static/media/{{ HomeLogo }}">
																					</td>
																							
																					<td>
																						<nav style="position:relative; padding-left:10px; margin-right:10px;">
																							<ul>																								
																								<li style="padding:0; margin:0;"><span style="font-weight:bold; font-size:18px;line-height:0;">a b c d e f g sdls s s s s s s ss s s s</span></li>																						
																							</ul>
																						</nav>
																					</td>
																						
																				</tr>
																			</table>
																																	
																		</div>										   					
													   					
												   					</li>		
													   					
												   					<li style="margin-top:10px;"><span>Andrew Willis built a skatepark in East London using reclaimed materials left over from the Olympic Games, creating a lasting legacy for the local community of Hackney Wick.</span></li>  			
													   				
								   								</ul>
									   						</nav>
								   						</a>									   					
								   					</li>
								   				</ul>
							   				</nav>
						   				</div>
						   				
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
				
				<a href="#" id="back-to-top-Home" style="position:fixed;left: 20px;bottom: 60px; padding: 0; text-align: center;">
					<div style="margin-top: 20px; padding:10px 80px 10px 80px; background: orange; position:relative; float:right; border-style: solid;	border-color: gray;" align=center>
						<span style="font-size:24px;color:white;">&uarr; Up</span>
					</div>
				</a>
				
				<a href="#" id="back-to-bot-Home" style="position:fixed;right: 20px;bottom: 60px; padding: 0; text-align: center;">
					<div style="margin-top: 20px; padding:10px 80px 10px 80px; background: green; position:relative; float:left; border-style: solid;border-color: gray;" align=center>
						<span style="font-size:24px;color:white;">&darr; Down</span>
					</div>
				</a>
									
				<!-- End of First -->
				<script type="text/javascript" src="/static/Page/js/HomeThirdLayerYoutube.js"></script>