
{% load staticfiles %} <!-- remember to remove it if using model objects instead -->

				<div id="DalianJunda">		
							
					<div id="dljdText">
						<li id="dljd1" align="center" style="width:60vh; font-size:72px;"><span></span></li>
						<li id="dljd2" style="width:45vh; font-size:32px; margin-top:10px;"><span></span></li>
						<li id="dljd3" style="width:45vh; font-size:24px; margin-top:10px;"><span></span></li>
					</div>

					<div id="dljdLOGO" style="z-index:0;">
					
						<img src="{% static 'Page/img/marvel.jpeg' %}">
					
					</div>

					<div id="playPics" style="z-index:-1;">
						
					</div>

					<div id="Trace" class="sidebar" align="center">
						<nav>
							<ul>
								
							
							</ul>
						</nav>

					</div>
				</div>