@charset "UTF-8";

#sidebar1{
	background:#2A2A2A;
}

#sidebar1 ul{
	padding: 10px 0px 10px 0px;
	margin: 0;
}

#sidebar1 nav ul li {
	display: inline;
	
}

#sidebar1 nav ul li a{
	
	font-family: 'Lobster', cursive;
	color:#FFF;
	font-size:24px;
	text-decoration:none;
	padding: 0px 10px 0px 10px;
}

.ContactIcons{
	float:left;
}
.ContactIcons ul{
	padding: 10px 0px 10px 0px;
	margin: 0;
}

.ContactIcons nav ul li a{
	
	color:#000;
	font-size:30px;
	text-decoration:none;
	padding: 0px 10px 0px 10px;
}

.ContactIcons nav ul li a img{
	
	width:8vh;
	height:8vh;
}

.RightDivTable{

	position:relative;
	float:right;

}

.Horizontalnav ul li{
	display:inline;
}


#container{
	width:100%;
	position:absolute;
	padding:0px;
}

header {
	width:100%;
	position:fixed;
	top:0px;
	z-index:1;
}


nav ul{
	list-style:none;
}

.article{
	text-align:center;
	position:relative;
	z-index:0;
	width:100%; 
	height:100vh;
	
}

.article div{
	display:block;
	
}

DIV.ctn {
    min-height: 150px;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    vertical-align: middle;
    
    height:100vh;
}

DIV.tablewrapper {
    height: 50px;
    overflow-y: hidden;
}


#HomeBotPic{
	position:absolute;
	padding:0px;
	background-color:black;
	width:100%;
    height:100vh;
}

#siderBar_Pic{
	
	float:left;
	padding:0px;
	width:18%;
    height:100vh;
	position:relative;
	background-color:black;
	overflow:scroll;
}

#siderBar_Pic div nav ul{

	padding:0px;
	margin:0px;
	list-style:none;
	
}
	
#siderBar_Pic div nav ul li{
	
	display:block;
	padding:5px 0px 0px 0px;
	margin:0px;
	
}

#siderBar_Pic div nav ul li a{

	padding:0px;
	
}
#siderBar_Pic div nav ul li a img{

	padding:0px;
	
}

#siderBar_Pic div nav ul li a p{
	
	padding:0px;
	
}


#siderBar_Pic h1{
	color:white;
	padding:10px 0px 0px 0px;
}

#youtubePlayList{
	
	padding:0px;
	position:relative;
	background-color:black;
	overflow-y:scroll;
	direction:rtl; 
}

#youtubePlayList div nav ul{

	padding:0px;
	margin:0px;
	list-style:none;
	
}
	
#youtubePlayList div nav ul li{
	
	display:block;
	padding:5px 0px 0px 10px;
	margin:0px;
	color:white;
	
}

#youtubePlayList div nav ul li a{

	padding:0px;
	
}
#youtubePlayList div nav ul li a img{

	padding:0px;
	
}

#youtubePlayList div nav ul li a p{
	
	padding:0px;
	
}

#youtubeVideoPool{
	
	background:black;
	position:relative;
	/*margin:10px 0px 0px 0px;*/
}

#dispPic{
	
	background:black;
	width:82%;
	height:100vh;
	position:absolute;
	float:right;
	/*margin:10px 0px 0px 0px;*/
	left:18%;	
}

#back-to-top h2{
	
	color:white;
	text-decoration:none;
	
}

footer {
		padding:5px 0px 5px 0px;
		background:#2A2A2A;
		color:#FFF;
		text-align:center;
		clear: both; 
}

.footerUp footer { max-height: 0; }

.footerUp:hover footer { max-height: 100px; transition: max-height 0.2s linear;}


header, section, footer, aside, figure {
	display: block;
}
/* cyrillic */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(http://fonts.gstatic.com/s/lobster/v18/c28rH3kclCLEuIsGhOg7evY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(http://fonts.gstatic.com/s/lobster/v18/RdfS2KomDWXvet4_dZQehvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(http://fonts.gstatic.com/s/lobster/v18/9NqNYV_LP7zlAF8jHr7f1vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(http://fonts.gstatic.com/s/lobster/v18/cycBf3mfbGkh66G5NhszPQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}

